<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/elements/css/modifyAccount.css" type="text/css" rel="stylesheet">

    <link href="/elements/css/general.css" type="text/css" rel="stylesheet" id="stylesheetMode">
    <link rel="icon" type="image/x-icon" href="/elements/img/logo.ico">

    <title id="title">Paramètre du Compte de </title>

</head>
<body onload="setInfos('<%= cookieUser %>')">
    <%- include('../components/header'); -%>
    <div id="userInfos" >

        <div  id="form">
            <div id="url">
                <div>
                    <h2>Lien de votre photo de profil</h2>
                    <input type="url" name="password" class="textInput" id="pfpField"><br>
                    <button onclick="updateImage()">Preview</button>
                </div>
                <img src="/elements/img/logo.ico" id="pfpPreview">
            </div>

            <div id="description">
                <h2 id="pseudoText">Description</h2>
                <textarea class="textInput" id="descriptionField"></textarea>
            </div>
            <br>
            <button type="submit" id="submit" onclick="modifyAccount()">Sauvegarder</button>
            <h3 id="errorField"></h3>

        </div>
    </div>


    <script src="/elements/js/modifyAccount.js"></script>
</body>
</html>