<header class="centerDiv" id="header" >
    <div>
        <% if(!cookieUser) { %>
            <a href="../login"><button >Connection</button></a>
        <% } else { %>
            <a href="../add-text"><button>Ajouter un texte</button></a>
        <% } %>
    </div>
    <a href="../home"><h1>Scriptum</h1></a>
    <div id="secondsButtons">
        <% if(!cookieUser) { %>
            <a href="../register"><button>Créer un compte</button></a>
        <% } else { %>
            <a onclick="onClick('<%= cookieUser %>')"><button>Mon Compte</button></a>
        <% } %>
        <a ><button id="modeButton" onclick="toggleMode()">☀️</button></a>
    </div>
</header>
<script src="/elements/js/header.js"></script>