<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/elements/css/cgu.css" type="text/css" rel="stylesheet">
    <link href="/elements/css/general.css" rel="stylesheet" id="stylesheetMode">
    <link rel="icon" type="image/x-icon" href="/elements/img/logo.ico">

    <title>Texte</title>

</head>
<body>
    <%- include('./components/header'); -%>
    <div id="text">
        <div id="content">
            <h1>Conditions d'utilisations</h1>

            <h3>Premièrement, ce site n'est pas du tout raccord avec les lois RGPD.
                <br>En utilisant ce site, vous acceptez ces conditions :
            </h3>
            <br>
            <h2>Interdictions</h2>
            <h3>Il est interdit de :</h3>
            <h4>- Republiez des textes sans l'accord de l'auteur original <br>
            - Insulter des personnes sans motif <br>
            - De dire que Grenoble est au Sud <br>
            - De promouvoir des actes terroristes <br>
            - De faire de la propagande pour "la bretagne, Genshin Impact et Skibidi Toilet" <br>
            - De dénigrer Ryan Gosling <br>
            - De jouer à Raid Shadow Legend
            </h4>

            <h2>Autorisations</h2>
            <h3>Vous êtes autorisé à :</h3>
            <h4>- Ecrire <br>
                - Faire des textes <br>
                - Promouvoir ce site <br>
                - Denigrer Ryan Gosling (C'est faux) <br>
                - Faire part d'avis politique <br>
            </h4>
        </div>
    </div>
</body>
</html>