<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="elements/css/documentation.css" rel="stylesheet">
    <link href="elements/css/general.css" rel="stylesheet" id="stylesheetMode">
    <link rel="icon" type="image/x-icon" href="/elements/img/logo.ico">

    <title>Documentation </title>
</head>
<body>
    <!-- color palette : https://coolors.co/palette/9b5de5-f15bb5-fee440-00bbf9-00f5d4 --->
    
    <%- include('./components/header'); -%>

    <article>

        <div id="sideBar">
            <h1>Documentation</h1>
            <h2>Endpoints</h2>
            <ul>
                <li>GET

                    <ul>
                        <li>Joke</li>
                        <li>Joke Type</li>
                        <li>Joke Types</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="documentation">
            <h1 id="title">Documentation</h1>
            <br>
            <div id="infos">
                <h2>Endpoints</h2>
                <h3>GET</h3>
            </div>
            
        </div>
        
    </article>

    <%- include('./components/footer'); -%>

    <script src="./public/script.js"></script>
</body>
</html>