<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/elements/css/seeAccount.css" type="text/css" rel="stylesheet">
    <link href="/elements/css/general.css" type="text/css" rel="stylesheet" id="stylesheetMode">
    <link rel="icon" type="image/x-icon" href="/elements/img/logo.ico">

    <title>Compte</title>

</head>
<body onload="setInfos('<%= userId %>')">
    <%- include('./components/header'); -%>
    <div onload="setInfos()" id="userInfos" >
        <div id="userPseudo">
            <h1 id="pseudo">Pseudo</h1>
            <h1 id="id">Id</h2>
        </div>
        <img onclick="disconnect()" id="userLogo" src="/elements/img/user-icon.png"></img>
    </div>
    <div id="userTexts">
    </div>

    <script src="/elements/js/seeAccount.js"></script>
</body>
<script>

    function disconnect() { 
        fetch(`/user/logout` , {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then((response) => response.json())
            .then((response) => {
                document.location.href = "../home"
            })
    }
    
    </script>
</html>