<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/elements/css/seeText.css" type="text/css" rel="stylesheet">
    <link href="/elements/css/general.css" rel="stylesheet" id="stylesheetMode">
    <link rel="icon" type="image/x-icon" href="/elements/img/logo.ico">

    <title>Texte</title>

</head>
<body onload="setInfos('<%= textId %>')">
    <%- include('./components/header'); -%>
    <div id="text" >
        <div id="textInfos">
            <h1 id="title">Title</h1>
            <a id="link">
                <h1 id="author">Author</h2>
            </a>
        </div>
        <p id="content">Content</p>
    </div>
    <a id="share" onclick="share()"><h2>Partager le texte</h2></a>
    <script src="/elements/js/seeText.js"></script>
</body>
</html>