body {
    margin: auto;
    background-color: var(--main-color);
    color: var(--second-color);
}


#content {
    display: flex;
    flex-direction: column;
    text-align: center;


    border-color: var(--second-color);
    border-style: solid;
}

#browseParams {
    display: flex;
    flex-direction: column;
    border-color: var(--second-color);
    border-style: solid;
    margin: 20px;
}

#searchButton {
    margin: 30px;
}

#options {
    text-align: center;
}

input {
    margin-top: 20px;
}



.infosBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.textBox #content {

    margin-left: 20px;
}