body {
    margin: auto;
    background-color: var(--main-color);
    color:  var(--second-color);;
}


#loginDiv {
    background-color: var(--main-color);
    border-radius: 2px;
    border-style: solid;
    border-color: var(--second-color);
    display: block;

    width: 300px;
}

#formContainer {

    display: flex;
    justify-content: center;
    height: 380px;
}
#form {

    display: flex;
    flex-direction: column;
    column-gap: 30px;
}

.textInput {
    border-color: var(--second-color);
    border-style: solid;
    border-radius: 8px;
    font-size: 20px;
}


input[type="checkbox"] {
    border-color: var(--main-color);
    border-style: solid;
    transform: scale(2);

}
