* {
    --page-margin: 300px
}

body {
    margin: auto;
    background-color: var(--main-color);
    color:  var(--second-color);;
}

#textInfos {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin-left: 20px;
    font-size: 35px;
}

h1 {
    font-size: 40px;
}

#userPseudo {
    display: flex;
    flex-direction: column;
    margin-left: var(--page-margin);
}

#userInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#userLogo {
    border-radius: 360px;
    width: 250px;
    height: 250px;
    margin-right: var(--page-margin);
    transition: 1s;
}

#userTexts {
    margin-top: 50px;
    border-style: solid;

    border-radius: 8px;
    background-color: var(--main-color);
    padding-bottom: 10px;
}


#userLogo:hover {
    filter: drop-shadow(0 0 20px rgb(240, 61, 97));
    cursor: pointer;

    transition: 1s;
}

@media screen and (max-width: 1000px) {
    
    * {
        --page-margin: 70px
    }
    
    h1 {
        font-size: 20px;
    }

    #userLogo {
        width: 150px;
        height: 150px;

    }
    
}

@media screen and (max-width: 400px) {
    
    * {
        --page-margin: 20px
    }
    
    h1 {
        font-size: 20px;
    }

    #userLogo {
        width: 150px;
        height: 150px;

    }
    
}
