
body {
    margin: auto;
    background-color: var(--main-color);
}

#text {
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
    color: var(--second-color);
    background-color: var(--main-color);
    border-radius: 2px;
    border-color: var(--second-color);
    border-style: solid;
}


#textInfos {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin-left: 20px;
    font-size: 35px;
}

h1 {
    font-size: 40px;
}
